.resetpassword{
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.reset-header h2{
    color: #6495ED;
    font-size: 20px;
}
#reset-login{
    text-decoration: none;
}
.reset-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}
.reset-form label{
    color: #0096FF;
    font-weight: bold;
}
.reset-form input{
    width: 300px;
    height: 40px;
}
.reset-button button{
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: hidden;
}
.reset-button button:hover{
    height: 42px;
}